# 붓꽃(iris) 의 품종 구분

## 붓꽃 데이터 구하기

원본 ; https://archive.ics.uci.edu/ml/datasets/iris

kaggle : https://www.kaggle.com/saurabh00007/iriscsv

In [2]:
import os
os.environ['KAGGLE_USERNAME'] = 'fteam73'
os.environ['KAGGLE_KEY'] = '86e169ab9a57be48fb2e40e9acda1890'

In [3]:
!kaggle datasets download -d saurabh00007/iriscsv

Downloading iriscsv.zip to /content
  0% 0.00/1.28k [00:00<?, ?B/s]
100% 1.28k/1.28k [00:00<00:00, 1.03MB/s]

In [4]:
!unzip '*.zip'

Archive:  iriscsv.zip
  inflating: Iris.csv

In [5]:
# 일단 데이터를 다운받아 확인해보자  ★

# SepalLength  (꽃받침의 길이)
# SepalWidth   (꽃받침의 폭)
# PetalLength  (꽃잎의 길이)
# PetalWidth   (꽃임이 너비)
# Name     품종명

# Iris-setosa, Iris-versicolor, Iris-virginica   세 품종으로 분류

In [45]:
from sklearn import svm, metrics
import random, re
import pandas as pd
import numpy as np

# CSV 파일 읽기

In [54]:
file_path = r'D:\DevRoot\DataSet\Iris.csv'

In [55]:
df_iris = pd.read_csv(file_path, index_col='Id')
df_iris.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [56]:
df_iris.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [4]:
df_iris.Species.unique()   #  품종은 3가지

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

# 데이터와 레이블 분리

In [5]:
# 데이터 분리
df_data = df_iris[["SepalLengthCm", "SepalWidthCm", "PetalLengthCm", "PetalWidthCm"]]
df_data.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Id
1             5.1           3.5            1.4           0.2
2             4.9           3.0            1.4           0.2
3             4.7           3.2            1.3           0.2
4             4.6           3.1            1.5           0.2
5             5.0           3.6            1.4           0.2

In [6]:
# 레이블 
df_label = df_iris['Species']
df_label.head()

Id
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
5    Iris-setosa
Name: Species, dtype: object

# 학습 데이터(train) 와 테스트 데이터(test) 로 나누기

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(df_data, df_label)

In [9]:
len(df_data), len(X_train), len(X_test)

(150, 112, 38)

# 학습(train), 예측(test), 정답률 구하기

In [10]:
clf = svm.SVC()  # 모델 생성
clf.fit(X_train, y_train) # 학습
predict = clf.predict(X_test) # 예측

In [11]:
# 정답률
ac_score = metrics.accuracy_score(y_test, predict)
print('정답률:', ac_score)

정답률: 0.9736842105263158

# scikit learn 에도 내장된 iris 데이터

In [12]:
from sklearn import datasets

In [13]:
iris = datasets.load_iris()

In [14]:
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [57]:
iris.target_names
# 각각 0, 1, 2 값을 갖는다.

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [58]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [36]:
X_train, X_test, y_train, y_test = train_test_split(iris.data, iris.target, test_size=0.3)  # 학습용, 테스트용 분리

In [ ]:
feature_name = [
    "SepalLength",  # (꽃받침의 길이)
    "SepalWidth",   # (꽃받침의 폭)
    "PetalLength",  # (꽃잎의 길이)
    "PetalWidth"   # (꽃임이 너비)
]

In [53]:
X_test[0]

array([5.5, 2.5, 4. , 1.3])

In [37]:
y_train  # 여기선 문자값이 아닌 숫자값이다.

array([0, 2, 0, 1, 0, 2, 2, 0, 2, 2, 1, 2, 1, 1, 2, 2, 2, 0, 2, 1, 1, 2,
       0, 2, 2, 1, 1, 1, 2, 0, 2, 0, 2, 2, 1, 2, 1, 0, 1, 1, 2, 0, 2, 2,
       0, 0, 0, 1, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 2, 1,
       1, 0, 0, 1, 1, 2, 1, 2, 1, 2, 2, 0, 2, 1, 1, 1, 1, 1, 2, 0, 1, 1,
       1, 0, 2, 0, 0, 2, 0, 0, 1, 2, 0, 2, 1, 1, 0, 1, 1])

In [38]:
clf = svm.SVC()  # 모델 생성
clf.fit(X_train, y_train) #  학습
predict = clf.predict(X_test)  # 예측
ac_score = metrics.accuracy_score(y_test, predict)  # 정답률 (정확도)
print('정답률:',  ac_score)

정답률: 0.9777777777777777

# 일단 학습된거 저장하기

In [17]:
import os
import joblib

In [20]:
base_path = r'D:\DevRoot\DataSet\model'
save_path = os.path.join(base_path, "iris.pkl")
save_path

'D:\\DevRoot\\DataSet\\model\\iris.pkl'

In [21]:
joblib.dump(clf, save_path)

['D:\\DevRoot\\DataSet\\model\\iris.pkl']