# 주석(Comment)

In [1]:
# 주석 (Comment)
#  프로그램의 실행과는 관계없이
#  코드에 메모등을 남길때 사용

# 1. 한줄 주석:  line comment)
#    '#' 으로 시작
#    '#' 우측부터의 한 줄은 '주석'으로 처리

In [2]:
# 2. 블럭 주석
"""
    이 안의 내용은
    주석으로 처리 됩니다.
"""
None

# 숫자(정수, 실수) 데이터

In [3]:
# 숫자 (정수, 실수) 데이터
# 소숫점이 없으면 '정수' (int : integer)
# 소숫점이 있으면 '실수' (float)  
# 컴퓨터 프로그래밍에서는 실수를 floating point number 라 함

In [5]:
print(10)  # 정수 int

10

In [6]:
print(10.0)  # 실수 float

10.0

In [7]:
print(10.)  # 10.0 float
    # 소수점 뒤에 아무 숫자가 없으면 정수가 아니라, 실수로 인식   
    # (결과가 10 이 아닌 10.0 으로 표시됨에 주목)

10.0

In [8]:
print(.1)  # 0.1 float   소숫점 앞에 0 없어도 0. 으로 실수 인식

0.1

In [9]:
10 - 2 * 4

2

In [10]:
(10 - 2) * 4

32

In [11]:
4 * 5  # int 와 int 연산 결과는 int

20

In [12]:
4 * 5.0  # float 와의 연산 결과는 float

20.0

In [14]:
4 / 2  # 2.0 ★나눗셈 연산 결과는 언.제.나 float

2.0

In [15]:
# 나눗셈 후 소수점 이하를 버리는 연산자 :  //
# 정수 끼리 딱 떨어지는 결과에 대해서는 정수로 결과가 나옴
# 나눗셈 후 소숫점 이하 버리는 연산자

In [16]:
4 // 2  # 2 int

2

In [17]:
4 // 2.0  # float 와의 연산 결과는 float

2.0

In [18]:
3.4 / 1.1

3.0909090909090904

In [19]:
3.4 // 1.1

3.0

#### ZeroDivisionError

In [22]:
# print(5 / 0)
print("실행될까요?")   # 에러 발생하면 다음 라인부터 실행안됨

ZeroDivisionError: division by zero

#### 나머지연산자 %

In [23]:
13 % 3

1

In [24]:
12.5 % 4.1  # 12.5 = 4.1 x 3 + 0.2
# 실수 계산 은 오차가 있다.

0.20000000000000107

#### 제곱연산자 **

In [25]:
2 ** 4

16

In [26]:
-3 ** 3

-27

In [27]:
2 ** -1

0.5

In [28]:
2 ** -2

0.25

In [29]:
10 ** -2

0.01

In [30]:
2 ** (1/2)

1.4142135623730951

In [31]:
27 ** (1/3)

3.0

# 문자열 str (string)

In [32]:
#----------------------------------
# 문자열 타입 : str (string)
# 문자열 만드는 방법
# 1. 쌍따옴표 (double quotation)
# 2. 홀따옴표 (single quotation)
# 3. 쌍따옴표3개
# 4. 홀따옴표3개

In [33]:
"Python is fun"

'Python is fun'

In [34]:
'Python is fun'

'Python is fun'

In [35]:
"""Life is too short, You need Python"""

'Life is too short, You need Python'

In [36]:
'''Life is too short, You need Python'''

'Life is too short, You need Python'

In [37]:
# 왜 이렇게 많은가?
# She's gone  <-- 출력하려면

In [38]:
"She's gone"

"She's gone"

In [39]:
# He says "Hi!"
'He says "Hi!"'

'He says "Hi!"'

In [ ]:
# He says "It's OK!"

In [41]:
print('''He says "It's OK!"''')

He says "It's OK!"

#### 문자열 연산 +

In [43]:
"Hello" + "Python"  # 문자열 연결 연산

'HelloPython'

In [44]:
"Hello" + ' ' + 'Anaconda'

'Hello Anaconda'

In [45]:
# 12 + "monkeys"  #★ 절대로 문자 + 숫자 연산 불가 ★

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### 문자열 연산 *

In [46]:
"-" * 20

'--------------------'

In [47]:
"abc" * 3

'abcabcabc'

#### 문자열 길이 len() 함수 
문자열 안의 문자 개수

In [48]:
len('hello python')

12

In [49]:
len("파이썬")    # 영어, 한글 구분 없이 글자수 잘 계산한다.

3

#### type() 함수
type(타입을 알고자 하는 값/변수/식)

In [50]:
type(10)

int

In [51]:
type(10.0)

float

In [52]:
type(4 / 2)  # 2.0

float

In [53]:
type("10.0")

str

In [54]:
type(True)

bool

In [55]:
type(None)

NoneType

# bool 타입

In [56]:
# bool 타입
# True (참) 혹은 False (거짓) 값만 갖는 타입

In [57]:
True

True

In [58]:
False

False

In [59]:
# true  # 에러

NameError: name 'true' is not defined

In [60]:
20 >= 10

True

In [61]:
10 * 2 == 10

False

In [62]:
10 * 2 != 10

True

In [63]:
3.14 < 3.13

False

In [64]:
10 / 2 == 5

True

# None 타입
아무런 값도 없는 데이터

In [65]:
None

In [66]:
a = 100

In [67]:
a

100

In [68]:
b

NameError: name 'b' is not defined

In [69]:
c = None
c

In [70]:
100
200
300
400

400

In [ ]:
# print() 여러개 데이터 출력가능
# 콤마(,) 로 구분
# 각 출력 데이터 사이에 공백

In [71]:
print("Hello" + " " + "Python")

Hello Python

In [72]:
print("Hello", "Python")

Hello Python

In [73]:
print(10, 20, 30)

10 20 30

In [74]:
print(12, "monkeys")  # + 는 안되지만, 요건 가능!

12 monkeys

In [75]:
print(10, type(10))
print(10.0, type(10.0))
print('10.0', type('10.0'))

10 <class 'int'>
10.0 <class 'float'>
10.0 <class 'str'>

#### 단어, 문장등을 선택하고 ", ', ( 등을 입력하면 자동으로 감싼다

In [76]:
"hello"

'hello'

In [ ]:
'Hello'

In [ ]:
(Hello)

In [ ]:
[hello]

In [ ]:
{hello}

# Indentation
들여쓰기.. 칼같이 해야 한다.

In [79]:
 print(100)
 print(200)
 print(300)
print(400)
print(500)
print(600)

100
200
300
400
500
600