# 변수(variable)

In [1]:
# 변수(variable) 은 데이터를 담아두는 공간
# 이름을 정해서 담아둔다.  이 이름을 변수이름 (variable name) 이라한다
# 변수의 데이터는 언제든지 변경할수 있다. (변할수 있다!)

# 변수 사용법
#    변수명 = 값

# 이와 같이 = 연산자를 사용하여 변수에 값을 저장하는 것을 대입(assign 한다 라고 하며
# = 을 대입연산자 (assignment operator) 라고 한다

# ★★프로그래머는 변수에 어떠한 타입의 어떠한 값이 담겨 있는지 놓치면 안된다!   타입! 값!

# 변수명은 대소문자 구분한다

In [4]:
a = 10   # a 라는 변수에 정수값 10 (int) 를 대입

# 파이썬은 변수 사용(선언)시 특별한 키워드 없다.

In [5]:
a

10

In [6]:
type(a)

int

In [7]:
print('a 값은', a, '입니다')

a 값은 10 입니다

In [8]:
b = 5   # b 라는 변수에 정수 5 대입

In [9]:
print(a + b)

15

In [10]:
# NameError : 선언한적 없는 변수 사용 불가
# print(c)

NameError: name 'c' is not defined

In [11]:
print(A)  # a 와 A 는 다르다.  변수명 대소문자 구분!

NameError: name 'A' is not defined

# 형변환 함수
int(),  float(), str(), bool() ....

In [13]:
myName = "김성중"

In [15]:
print("제 이름은", myName, "입니다")

제 이름은 김성중 입니다

In [16]:
print("제 이름은 " + myName + " 입니다")

제 이름은 김성중 입니다

In [17]:
age = 10

In [18]:
print("제 나이는", age, "살 입니다")

제 나이는 10 살 입니다

In [19]:
# print("제 나이는 " + age + " 살 입니다")

TypeError: can only concatenate str (not "int") to str

In [20]:
# 형변환 함수를 사용하면 숫자->문자, 혹은 문자->숫자 타입으로 변환 가능
print("제 나이는 " + str(age) + " 살 입니다")

제 나이는 10 살 입니다

In [22]:
num = "100"

In [23]:
num + 2

TypeError: can only concatenate str (not "int") to str

In [24]:
num * 2

'100100'

In [25]:
# int() 형변환함수 -> int 타입으로 변환
int(num) + 2

102

In [26]:
int('hello')  # 형변환 불가능 하면 에러 발생

ValueError: invalid literal for int() with base 10: 'hello'

In [27]:
# 진법 에 대해서 매개변수 줄수 있다.

In [28]:
int("110")  # 디폴트, 10진수로 인식하여 정수 변환

110

In [29]:
int("110", 2) # "110" 을 2진수로 인식하여 정수 변환

6

In [30]:
int("110", 16)

272

In [31]:
int(3.14)  # 실수->정수변환 , 소숫점 이하 제거

3

In [32]:
float(10)

10.0

# 변수명 규칙

In [33]:
#변수명규칙
# 알파벳, 숫자, _  등 사용 가능
# 숫자로는 시작할수 없다
# 변수명에 띄어쓰기 불가
# 특수문자 불가
# 파이썬의 예약어(reserved word)는 변수명으로 사용불가
#      and,  as,  assert,  break,  class,  continue,  def,  del,  elif,  else,  except,  is,  
#      finally,  for, from,  global,  if,  import,  in,  lambda,  nonlocal,  
#      not,  or,  pass,  raise,  return,  try,  while,  with, yield

In [37]:
#가능한 변수명
lapTime = 10.2
abc2018 = 10
myName = "John"
my_Name = "John"
_value23 = 3.14

In [ ]:
# 불가능한 변수명
# $abc = 10  # Java, JS 는 $도 변수명 가능했으나, Python은 사용못함
# 55num = 33
# %$#@^ = 33
# %aaa% = 200
# my-name = "hello"    # - 불가
# aaa dfff = 333
# if = 100    #예약어 불가

## 변수 없애기 del()

In [38]:
name = "John"

In [39]:
print(name, type(name))

John <class 'str'>

In [40]:
del(name)  # name 변수 제거

In [41]:
print(name)

NameError: name 'name' is not defined

# 여러변수를 한줄에 선언

In [44]:
# 파이썬도 문장의 끝에 세미콜론 ; 사용 가능
a = 10;
b = 20;
c = 30;
print(a, b, c)

10 20 30

In [45]:
# 주로 한줄에 여러 문장을 나열할때 세미콜론 사용
a = 10; b = 20; c = 30;
print(a, b, c)

10 20 30

In [46]:
a, b, c = 100, 200, 300  # 파이썬 다운 방법 (pythonic)
print(a, b, c)

100 200 300

## 변수의 값 증감

In [47]:
a = 10

In [48]:
a

10

In [49]:
a = a + 1

In [50]:
a

11

In [51]:
a = a * 2
a

22

In [52]:
a = a - 1
a

21

In [53]:
a = a // 7
a

3

#### 복합대입연산자

In [54]:
a, b, c = 100, 10, 7

In [55]:
a += 10
b /= 2
c %= 2
a, b, c

(110, 5.0, 1)

#### 파이썬에는 ++ , -- 없다!

## 변수값 서로 바꾸기 ( swap)

In [56]:
a = 11
b = 33
a, b

(11, 33)

In [58]:
a, b = 11, 33
# 일반적인 프로그래밍 언어에서 변수값 바꾸는 방법
temp = a
a = b
b = temp

a, b

(33, 11)

In [59]:
# 파이썬 답게 변수값 바꾸는 방법
a, b = 11, 33

a, b = b, a  #★

a, b

(33, 11)

### 복소수 (complex)
실수부와 허수부로 구성된 자료형

**a + b*j***

In [60]:
a = 10 + 2j

In [61]:
type(a)

complex

In [62]:
b = 1j

In [63]:
b * b

(-1+0j)