In [1]:
# 여러개의 데이터를 담는 집합 데이터 타입들..
#1. list   :  순서있다.  중복허용,  mutable
#2. tuple  :  순서있다,  중복허용,  immutable
#3. set : 순서없다,  중복허용안함
#4. dict : key, value 쌍으로 구성, 순서없다.

# tuple

In [3]:
# tuple 튜플
# 콤마 , 로 구분된 집합 데이터 타입

In [4]:
animals = ('dog', 'dog', 'cat', 'bird')

In [5]:
print(animals)

('dog', 'dog', 'cat', 'bird')

In [6]:
type(animals)

tuple

In [7]:
student = "김성중", "정을영", "문혜진"  # 괄호 없어도 tuple

In [8]:
print(student)

('김성중', '정을영', '문혜진')

In [9]:
type(student)

tuple

In [11]:
len(animals), len(student)

(4, 3)

#### 원소 하나짜리 tuple 만들기
원소 뒤에 콤마 하나 찍어주세요

In [12]:
animals = ("dog")  # <-- 요건 튜플이 아니라 걍 문자열로 인식된다.
animals, type(animals), len(animals)

('dog', str, 3)

In [13]:
animals = ("dog", )  # <-- 원소 하나짜리 튜플 만드려면 뒤에 콤마 하나 찍어주자
animals, type(animals), len(animals)

(('dog',), tuple, 1)

In [17]:
animals = "dog",   # <-- 괄호 없어도 튜플 이닷!

In [18]:
animals

('dog',)

In [19]:
animals = 'dog', "dog", 'cat', 'bird'
type(animals)

tuple

In [20]:
# index 가능

In [21]:
animals[0]

'dog'

In [22]:
animals[-1]

'bird'

In [23]:
# tuple 은 immutable 하다. <-- 값을 변경할수 없다.
animals[0] = 'puppy'

TypeError: 'tuple' object does not support item assignment

In [25]:
animals.append('puppy')  # <-- 내용변경하는 동작 없슴

AttributeError: 'tuple' object has no attribute 'append'

In [26]:
# + 연산자 
animals + ("fish", "turtle")

('dog', 'dog', 'cat', 'bird', 'fish', 'turtle')

In [27]:
animals

('dog', 'dog', 'cat', 'bird')

In [28]:
animals = animals + ("fish", "turtle")
animals

('dog', 'dog', 'cat', 'bird', 'fish', 'turtle')

In [29]:
# * 연산자
animals * 3

('dog',
 'dog',
 'cat',
 'bird',
 'fish',
 'turtle',
 'dog',
 'dog',
 'cat',
 'bird',
 'fish',
 'turtle',
 'dog',
 'dog',
 'cat',
 'bird',
 'fish',
 'turtle')

In [30]:
# tuple 은 언제 사용하나?
# 1. 주로 변경되지 말아야 할 데이터들
# 2. 복수의 값 '전달' 목적으로.

In [31]:
# 사각형을 나타내기 위해 가로(width), 세로(height) 값을 담는 경우
# 리스트의 경우에는
rec = [100, 200]
width = rec[0]
height = rec[1]

In [32]:
width

100

In [33]:
height

200

In [34]:
# tuple 의 경우
rec = (333, 500)
# width = rec[0]
# height = rec[1]
width, height = rec   # tuple 은 이러한 대입 연산이 가능! 즉 한번에 여러개의 값 전달 가능

In [35]:
width

333

In [36]:
height

500

In [37]:
width, height = (400, 800)  # tuple 에선 가능!

In [38]:
a, b, c = 10, 20, 30  # 여러개 변수 초기화

In [39]:
a, b, c = [100, 200, 300]  # 대입연산자의 왼쪽이 변수들이 담긴 tuple

In [40]:
a, b, c

(100, 200, 300)

In [41]:
a, b, c = "ABC"

In [42]:
a, b, c

('A', 'B', 'C')

## tuple methods
https://www.w3schools.com/python/python_ref_tuple.asp

In [43]:
# count()	Returns the number of times a specified value occurs in a tuple
# index()	Searches the tuple for a specified value and returns the position of where it was found

In [44]:
aa = (10, 20, 30, 10, 10, 10, 20, 20)

In [45]:
aa.count(10)

4