# for 순환문

In [1]:
# for 순환문
# 기존의 다른 프로그래밍 언어의 for 문에 비해 파이썬은 매우 직관적이고 사용하기 편리

# 구문]
# for 변수 in iterable객체: 
#     수행할 문장1
#     수행할 문장2
#     ....
# else:
#      순환문 빠져나오기 전에 수행

# iterable한 객체들 => range(숫자), str, list, set, tuple, dict ...

In [3]:
# 숫자로 순환

for i in range(3):    # range(3) => 0, 1, 2
    print('hello world', i)

hello world 0
hello world 1
hello world 2

In [4]:
# range(5, 8) => 5, 6, 7  (8은 포함 안됨)
for i in range(5, 8):
    print("hello world", i)

hello world 5
hello world 6
hello world 7

In [6]:
for i in range(4, 15, 3):  # 세번째 매개변수 step 값
    print(i)

4
7
10
13

In [8]:
for i in range(10, 0):
    print(i)

In [9]:
for i in range(10, 0, -2):  # 10, 8, 6, 4, 2
    print(i)

10
8
6
4
2

In [12]:
#  연습
# for문으로 구구단 출력
# range() 사용

for dan in range(2, 10):  # 2 ~ 9단
    print(dan, "단")
    for mul in range(1, 10): # x1 ~ x9
        print(dan, "x", mul, "=", dan * mul)
    print()

2 단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### for 순환
list, tuple, dict ...

In [14]:
animals = ['dog', 'cat', 'bird', 'puppy', 'kitty']
len(animals)

5

In [16]:
for i in animals:
    print('I love', i)

I love dog
I love cat
I love bird
I love puppy
I love kitty

In [17]:
for ch in "Hello":
    print(ch)

H
e
l
l
o

In [18]:
result = []
for ch in "Hello":
    result.append(ch)
print(result)

['H', 'e', 'l', 'l', 'o']

In [20]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [21]:
for item in (10, 20, 30, 40, 50):
    print('tuple', item)

tuple 10
tuple 20
tuple 30
tuple 40
tuple 50

In [23]:
# dict 는 for 문에서 key 값이 추출됨.
myDict = {'name':'hong', 'age':24, 'grade':4}

for key in myDict:
    print(key, ':', myDict[key])

name : hong
age : 24
grade : 4

### iterable 안의 데이터가 tuple 인 경우

In [24]:
a = [(1, 2), (3, 4), (5, 6)]

In [25]:
len(a)

3

In [26]:
for x in a:
    print(x)

(1, 2)
(3, 4)
(5, 6)

In [27]:
for x in a:
    print(x[0], x[1])

1 2
3 4
5 6

In [28]:
for x, y in a:   #★★★
    print(x, y)

1 2
3 4
5 6

#### 연습

In [30]:
# 예제 연습
# 학생들의 점수가 아래와 같이 주어졌다고 하자
# 총점과 평균을 출력해보세요

total = 0
avg = 0.0
scores = [88, 34, 98, 74, 33]

# 결과예
# 학생수: 5 명
# 총점: 327 점
# 평균: 65.4 점

for score in scores:
    total = total + score

print("학생수:", len(scores), "명")
print("총점:", total, "점")
print("평균:", total / len(scores), "점")

학생수: 5 명
총점: 327 점
평균: 65.4 점

### break, continue

In [32]:
for x in range(10):
    print(x)
    if x == 5: break

0
1
2
3
4
5

In [34]:
for x in range(10):
    if x % 2 == 0: continue
    print(x)

1
3
5
7
9

In [36]:
# 반복제어문2 - 형성평가4
"""
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=33&sca=1070
반복제어문2 - 형성평가4

100 이하의 자연수 n을 입력받고 
n개의 정수를 입력받아 평균을 출력하는 프로그램을 작성하시오.
(평균은 반올림하여 소수 둘째자리까지 출력하도록 한다.)


입력 예]
3
99 65 30

출력 예]
64.67

"""
None

In [37]:
n = int(input())

total = 0
cnt = 0

# map() 결과도 iterable 하다!
for i in map(int, input().split()):
    total += i
    cnt += 1
    if cnt == n: break
        
print("{:.2f}".format(total / n))

4
88 75 63 12
59.50

In [38]:
# 반복제어문2 - 형성평가5
"""
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=34&sca=1070
134 : 반복제어문2 - 형성평가5
문제
10개의 정수를 입력받아 입력받은 수들 중 짝수의 개수와 홀수의 개수를 각각 구하여 출력하는 프로그램을 작성하시오.

입력 예]
10 20 30 55 66 77 88 99 100 15

출력 예]
even : 6
odd : 4

"""
None

In [39]:
even = 0
odd = 0

for i in map(int, input().split()):
    if i % 2 == 0:
        even += 1
    else:
        odd += 1
        
print("even :", even)
print("odd :", odd)

10 20 30 55 66 77 88 99 100 15
even : 6
odd : 4

In [ ]:
# 반복제어문3 - 형성평가1
"""
http://jungol.co.kr/bbs/board.php?bo_table=pbank&wr_id=40&sca=1080

반복제어문3 - 형성평가1
 
문제
정수 20 개를 입력받아서 그 합과 평균을 출력하되 
0 이 입력되면 20개 입력이 끝나지 않았더라도 
그 때까지 입력된 합과 평균을 출력하는 프로그램을 작성하시오.
평균은 소수부분은 버리고 정수만 출력한다.
(0이 입력된 경우 0을 제외한 합과 평균을 구한다.)


입력 예]
5 9 6 8 4 3 0

출력 예]
35 5
"""

In [40]:
total = 0
count = 0

for i in map(int, input().split()):
    if not i: break
    total += i
    count += 1

print(total, int(total / count))

5 9 6 8 4 3 0
35 5