# Comprehension

In [7]:
# List Comprehension  --> list 생성 .. list 안에 포함된 for문
# Dict Comprehension  --> dict 생성 .. dict 안에 포함된 for문
# Set Comprehension --> set 생성   ..  set 안에 포함도니 for문

In [6]:
# List Comprehension 구문
# [표현식 for 항목 in 반복가능객체 (if 조건)]

In [1]:
# 주어진 리스트의 원소 데이터 들을 * 3  하여 새로운 리스트 작성하기
# ex) [1, 2, 3, 4] ==> [3, 6, 9, 12]

In [3]:
a = [1, 2, 3, 4]

In [4]:
a * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [5]:
result = []
for num in a:
    result.append(num * 3)
    
print(result)

[3, 6, 9, 12]

In [9]:
# list comprehension 으로 새로운 리스트 작성
[num * 3 for num in a]

[3, 6, 9, 12]

In [10]:
# 짝수에만 3을 곱하여 담고 싶다면 다음과 같이 "if 조건"을 사용할 수 있다
# "if 조건" 부분은 생략 가능
# [1, 2, 3, 4] --> [6, 12]

In [12]:
[num * 3 for num in a if num % 2 == 0]

[6, 12]

In [15]:
# 아래와 같이 짝수에만 적용되게 하려면? 홀수는 그대로.
# [1, 2, 3, 4]
#  ↓  ↓  ↓  ↓
# [1, 6, 3, 12]   <- 2, 4 에만 x3 적용

[num * 3 if num % 2 == 0 else num for num in a]

[1, 6, 3, 12]

In [17]:
result = []
for num in a:
    if num % 2 == 0:
        result.append(num * 3)
    else:
        result.append(num)
        
result

[1, 6, 3, 12]

In [18]:
# for문 2개 이상 사용도 가능

# [표현식 for 항목1 in 반복가능객체1 if 조건1
#         for 항목2 in 반복가능객체2 if 조건2
#         ...
#         for 항목n in 반복가능객체n if 조건n]

In [21]:
[
    ch + str(num)
    for ch in "ABC"  # 'A' ~ 'C'
    for num in range(1, 3)  # 1 ~ 2
]

['A1', 'A2', 'B1', 'B2', 'C1', 'C2']

In [24]:
# 구구단의 모든 결과를 담는 리스트
"""
['2 x 1 = 2',
 '2 x 2 = 4',
 ...
 '9 x 7 = 63',
 '9 x 8 = 72',
 '9 x 9 = 81']

"""

[
    "%d x %d = %d" % (dan, mul, dan * mul)
    for dan in range(2, 10)
    for mul in range(1, 10)
]

['2 x 1 = 2',
 '2 x 2 = 4',
 '2 x 3 = 6',
 '2 x 4 = 8',
 '2 x 5 = 10',
 '2 x 6 = 12',
 '2 x 7 = 14',
 '2 x 8 = 16',
 '2 x 9 = 18',
 '3 x 1 = 3',
 '3 x 2 = 6',
 '3 x 3 = 9',
 '3 x 4 = 12',
 '3 x 5 = 15',
 '3 x 6 = 18',
 '3 x 7 = 21',
 '3 x 8 = 24',
 '3 x 9 = 27',
 '4 x 1 = 4',
 '4 x 2 = 8',
 '4 x 3 = 12',
 '4 x 4 = 16',
 '4 x 5 = 20',
 '4 x 6 = 24',
 '4 x 7 = 28',
 '4 x 8 = 32',
 '4 x 9 = 36',
 '5 x 1 = 5',
 '5 x 2 = 10',
 '5 x 3 = 15',
 '5 x 4 = 20',
 '5 x 5 = 25',
 '5 x 6 = 30',
 '5 x 7 = 35',
 '5 x 8 = 40',
 '5 x 9 = 45',
 '6 x 1 = 6',
 '6 x 2 = 12',
 '6 x 3 = 18',
 '6 x 4 = 24',
 '6 x 5 = 30',
 '6 x 6 = 36',
 '6 x 7 = 42',
 '6 x 8 = 48',
 '6 x 9 = 54',
 '7 x 1 = 7',
 '7 x 2 = 14',
 '7 x 3 = 21',
 '7 x 4 = 28',
 '7 x 5 = 35',
 '7 x 6 = 42',
 '7 x 7 = 49',
 '7 x 8 = 56',
 '7 x 9 = 63',
 '8 x 1 = 8',
 '8 x 2 = 16',
 '8 x 3 = 24',
 '8 x 4 = 32',
 '8 x 5 = 40',
 '8 x 6 = 48',
 '8 x 7 = 56',
 '8 x 8 = 64',
 '8 x 9 = 72',
 '9 x 1 = 9',
 '9 x 2 = 18',
 '9 x 3 = 27',
 '9 x 4 = 36',
 '9 x 5 = 45',
 '9 x 6 = 54',
 '9 x 7 = 63',
 '9 x 8 = 72',
 '9 x 9 = 81']

In [25]:
a = [10, 20, 30, -20, -3, 50, -70]

# 위 리스트에서 '양수'만 뽑아내어 새로운 리스트 만들기
# List comprehension 사용!
# 결과 -> [10, 20, 30, 50]

In [27]:
[
    number
    for number in a
    if number > 0
]

[10, 20, 30, 50]

In [28]:
# 단순히 0 으로 n개 초기화 
[ 0 for n in range(26)]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [32]:
# 주어진 dataset 에서 제곱의 결과가 10보다 큰 결과만 담은 list 작성
# [1, -2, 3, -4, 5]
#  ↓ ↓
# [16, 25]

dataset = [1, -2, 3, -4, 5]

[
    x ** 2
    for x 
    in dataset
    if x ** 2 > 10
]

[16, 25]

In [34]:
[
    y
    for y
    in
    [
        x ** 2
        for x
        in dataset
    ]
    if y > 10
]

[16, 25]

### Set comprehension  도 동일하게 작동

In [35]:
[num % 3 for num in range(10)]

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0]

In [36]:
{num % 3 for num in range(10)}

{0, 1, 2}

### Dict comprehension

In [39]:
result = { 
    n
    for n in range(5)
}
print(result)
print(type(result))  # <-- set

{0, 1, 2, 3, 4}
<class 'set'>

In [40]:
# dict는 key:value 쌍!

result = { 
    n : n ** 2
    for n in range(5)
}
print(result)
print(type(result)) # <-- dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
<class 'dict'>

In [41]:
{
    x: list(range(x))
    for x
    in [1, 2, 3, 4, 5]
}

{1: [0], 2: [0, 1], 3: [0, 1, 2], 4: [0, 1, 2, 3], 5: [0, 1, 2, 3, 4]}