In [1]:
# 가령 다음과 같은 기능을 하는 함수들를 만드려고 한다

#      (입력)        (리턴)
# 1. [1, 2, 3] => [1, 4, 9]        <-- 제곱을 하는 함수

# 2. [-1, 2, -3] => [1, 2, 3]      <--  절대값을 구하는 함수


# 즉, 집합데이터형을 입력 받아서 '각 원소'들에게 '무언가 적용' 한 결과를 만드는 함수!!

In [2]:
def get_square_list(numbers):
    result = []
    for number in numbers:
        result.append(number ** 2)    
    return result

In [3]:
get_square_list([3, 4, -6])

[9, 16, 36]

In [4]:
def get_absolute_list(numbers):
    result = []
    
    for number in numbers:
        result.append(number if number > 0 else -number)
        
    return result

In [5]:
get_absolute_list([3, -4, -6])

[3, 4, 6]

## 함수도 데이터 타입이다

In [6]:
type(get_absolute_list)

function

In [7]:
aaa = get_absolute_list  # 함수도 데이터처럼 대입할수 있다!

In [8]:
aaa([-4, -55, 10])

[4, 55, 10]

In [9]:
# 따라서, 함수도 매개변수로도 넘겨줄수 있다!

In [11]:
def square(x):
    return x ** 2

square(10)

100

In [14]:
def absolute(x):
    return x if x >= 0 else -x

absolute(-123)

123

In [15]:
# 함수를 매개변수로 받는 함수
def apply_func_to_list(numbers, func):
    result = []
    
    for number in numbers:
        result.append(func(number))
    
    return result

In [16]:
apply_func_to_list([3, -2, 7], square)

[9, 4, 49]

In [17]:
apply_func_to_list([-1, 2, -3], absolute)

[1, 2, 3]

## 람다 표현식 (lambda expression)
'이름이 없는' 함수 정의

In [18]:
# lambda 표현식 구문

# lambda 매개변수: 표현식,  (값인 경우 리턴)

In [19]:
lambda x: x * 2

In [20]:
lambda : print('hello')

In [21]:
lambda x, y : x + y

In [22]:
(lambda x, y : x + y)(10, 20)

30

In [23]:
(lambda : print('hello'))()

hello

In [24]:
double2 = lambda x : x * 2

In [25]:
double2(10)

20

In [26]:
add = lambda a, b : a + b
add(10, 20)

30

In [27]:
# map(), filter(), reduce() 등에서 lambda 활용 많이 함.

# map : N -> N
# filter : N -> N' (<= N)
# reduce : N -> 1

---
# map()

In [28]:
# 위와 같이하면, '집합데이터' + '데이터 에 ~~한 동작/연산을 수행하는 함수' 를 세트로 주어
# 일괄 처리 할수 있다
# 파이썬에는 이와 같은 일을 처리하는 함수가 있다.
# 바로 map() 이다

# 구문
# map(함수, iterable 데이터)     #<-- 이때 data 는 iterable 해야 한다

In [31]:
m = map(square, [1, 2, 3])  # map 생성자
m  # 결과는 map 객체 (이 또한 iterable 하다)

In [32]:
list(m)

[1, 4, 9]

In [33]:
list(map(square, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [38]:
# "apple"  -> ['A', 'P', 'P', 'L', 'E']

# list("apple".upper())

list(map(str.upper, list("apple")))

['A', 'P', 'P', 'L', 'E']

In [39]:
list(map(absolute, [1, -2, 3]))

[1, 2, 3]

In [40]:
list(map(lambda x : x ** 2, [1, -2, 3]))

[1, 4, 9]

In [41]:
# 도전
# 주어진 리스트의 멤버들을 제곱해서 음수값 내기
# lambda 와 map 사용

#[3, 2, -4]  --->  [-9, -4, -16]

In [42]:
list(map(lambda x : -(x ** 2), [3, 2, -4]))

[-9, -4, -16]

In [22]:
# 응용
# CSV 파일 데이터의 형태에서
data = """height,weight,label
140,45,normal
145,72,fat
150,61,fat
137,56,fat
192,48,thin
175,77,fat"""
print(data)


# 아래와 같은 리스트로 만들기
# [[140.0, 45.0, 'normal'],
#  [145.0, 72.0, 'fat'],
#  [150.0, 61.0, 'fat'],
#  [137.0, 56.0, 'fat'],
#  [192.0, 48.0, 'thin'],
#  [175.0, 77.0, 'fat']]

height,weight,label
140,45,normal
145,72,fat
150,61,fat
137,56,fat
192,48,thin
175,77,fat

In [23]:
lines = data.split('\n')
lines

['height,weight,label',
 '140,45,normal',
 '145,72,fat',
 '150,61,fat',
 '137,56,fat',
 '192,48,thin',
 '175,77,fat']

In [49]:
'177'.isdigit(), '3.14'.isdigit(), 'abc'.isdigit()

(True, False, False)

In [50]:
f_tonum = lambda n : float(n) if n.isdigit() else n

In [52]:
f_tonum('175'), f_tonum('fat')

(175.0, 'fat')

In [54]:
f_cols = lambda li : list(map(f_tonum, li.strip().split(',')))

In [55]:
csv = list(map(f_cols, lines))

In [56]:
csv

[['height', 'weight', 'label'],
 [140.0, 45.0, 'normal'],
 [145.0, 72.0, 'fat'],
 [150.0, 61.0, 'fat'],
 [137.0, 56.0, 'fat'],
 [192.0, 48.0, 'thin'],
 [175.0, 77.0, 'fat']]

In [57]:
del(csv[0])  # 헤더 지우기

In [58]:
csv

[[140.0, 45.0, 'normal'],
 [145.0, 72.0, 'fat'],
 [150.0, 61.0, 'fat'],
 [137.0, 56.0, 'fat'],
 [192.0, 48.0, 'thin'],
 [175.0, 77.0, 'fat']]

In [59]:
input().split()

10 20 30

['10', '20', '30']

In [60]:
map(int, input().split())

10 20 30

In [61]:
a, b, c = map(int, input().split())

10 20 30

In [63]:
a, b, c

(10, 20, 30)

In [65]:
a, b, c = map(lambda n : int(n) * 2 , input().split())
a, b, c

10 20 30

(20, 40, 60)

In [67]:
# 실수가 저장된 리스트가 있을 때 이 리스트의 모든 요소를 정수로 변환
a = [1.2, 2.5, 3.7, 4.6]
#  결과 -> [1, 2, 3, 4]

list(map(int, a))

[1, 2, 3, 4]

---
# filter

In [1]:
# 구문 : filter(function, iterable)

# filter에 인자로 사용되는 function은 처리되는 각각의 요소에 대해 bool 값을 반환합니다. 
# True를 반환하면 그 요소는 남게 되고, False 를 반환하면 그 요소는 제거 됩니다

In [3]:
# 주어진 숫자가 3의 배수이면 True 아니면 .False 를 리턴하는 함수

def multiple3(x):
    return x % 3 == 0

multiple3(8)

False

In [4]:
filter(multiple3, [3, 7, 9])  # filter() 결과는 filter 객체, iterable 객체이다

In [5]:
list(filter(multiple3, [3, 7, 9]))

[3, 9]

In [6]:
# filter + lambda
list(filter(lambda x : x % 3 == 0, [3, 7, 9]))

[3, 9]

#### map VS. filter

In [7]:
lambda x : x > 0

In [8]:
list(map(lambda x : x > 0, [1, -2, 3, -4, 5]))

[True, False, True, False, True]

In [9]:
list(filter(lambda x : x > 0, [1, -2, 3, -4, 5]))

[1, 3, 5]

In [ ]:
list(map(lambda x: x > 0, [1, -2, 3, -4, 5]))
#                          T   F  T   F  T
#                          -----------------
#                          1      3      5
list(filter(lambda x: x > 0, [1, -2, 3, -4, 5]))

### 실습

In [10]:
# 도전
# [1, -2, 3, -4, 5]
# 양수인 숫자들을 제곱한 결과  => [1, 9, 25]

# 1) 함수로 만들어 보고
# 2) lamba, map, filter 로도 만들어 보자
# 3) list comprehension 으로도 도전해보자

In [11]:
dataset =  [1, -2, 3, -4, 5]

In [14]:
# 1) 함수로 만들어 보고
def get_positive_square(numbers):
    result = []
    
    for number in numbers:
        if number > 0:
            result.append(number ** 2)
    
    return result

get_positive_square(dataset)

[1, 9, 25]

In [17]:
# 2) lamba, map, filter 로도 만들어 보자

positive_set = list(filter(lambda x: x > 0, dataset))

list(map(lambda x : x ** 2, positive_set))

[1, 9, 25]

In [19]:
list(map(
    lambda x : x ** 2, 
    filter(lambda x: x > 0, dataset)))

[1, 9, 25]

In [21]:
# 3) list comprehension 으로도 도전해보자

[x ** 2 for x in dataset if x > 0]
#  map                    filter

[1, 9, 25]