# reduce()      N개 => 1개

In [1]:
from functools import reduce
# reduce() 함수는 functools 모듈에 있다.

In [ ]:
# 구문
# functools.reduce(function, iterable[, initializer])


# function 을 사용해서 iterable을 '하나의 값'으로 줄입니다. 
# initializer 는 주어지면 첫 번째 인자로 추가 된다고 생각하면 됩니다.

In [4]:
# 주어진 리스트 안의 데이터 들의 합을 구하려면?

# 기존의 for문으로 구현하는 경우

dataset = [1, 2, 3, 4]


def total(numbers):
    result = 0
    
    for number in numbers:
        result += number
        print(result)  # 중간단계 출력
    
    return result

total(dataset)

1
3
6
10

10

In [ ]:
# 0 | 1, 2, 3, 4
#     1
#        3
#            6
#              10

In [8]:
# reduce() 로 표현

# reduce() 에 적용되는 함수,  '두개'의 입력 -> '하나'의 결과
def add(x, y):
    print((x, y))  # 중간단계 보기
    return x + y

reduce(add, [1, 2, 3, 4, 5])

(1, 2)
(3, 3)
(6, 4)
(10, 5)

15

In [ ]:
# [  1,   2,   3,   4,   5]
#    ↓    ↓
# add(1, 2)
#    ↓
# [  3,        3,   4,   5]
#      ↓      ↓
#    add(3,   3)
#       ↓
# [      6,       4,   5]
#       ↓         ↓
#     add(6,       4)
#       ↓
# [     10,         5]
#       ↓           ↓
#      add(10,     5)
#       ↓
#       15   # 결국 하나의 값으로 reduce 된다

In [7]:
# reduce + lambda
reduce(lambda x, y : x + y, [1, 2, 3, 4, 5])

15

#### initializer(초깃값)

In [ ]:
# [1, 2, 3]  ==> [1, 4, 9]

In [11]:
def func(a, b):
    print((a, b)) #중간단계
    a.append(b ** 2)
    
    return a


reduce(func, [1, 2, 3], [])  # initializer 로 [] 주어짐

([], 1)
([1], 2)
([1, 4], 3)

[1, 4, 9]

In [ ]:
#   []   | [1,   2,   3]
#     ↓    ↓
# func([], 1)
#       ↓
#      [1]    2     3
#         ↓   ↓
#    func([1], 2)
#           ↓
#        [1, 4]    3
#            ↓     ↓
#      func([1, 4], 3)
#                ↓
#            [1, 4, 9]

In [33]:
# lambda 로 만들수 있을까?
# reduce(lambda a, b : a.append(b ** 2), [1, 2, 3], [])  # 에러

# reduce(lambda a, b : a + [b ** 2], [1, 2, 3], []) # 가능은 하다

reduce(lambda a, b : a.append(b ** 2) or a, [1, 2, 3], []) # 권장 SCE 사용

[1, 4, 9]

#### 도전 : 최댓값 찾기

In [12]:
dataset = [1, 4, 3, 5, 2]

# reduce + lambda 를 사용하여 최댓값을 찾아보세요

In [ ]:
# [1, 4, 3, 5, 2] => 여기에서 최대값을 찾는 코드 (5)
# --------------------------------------------
#     4
#        4
#           5 
#              5

In [15]:
reduce(lambda a, b : a if a > b else b, dataset)

5

#### 개수 구하기

In [19]:
dataset = ["dog", "dog", "dog", "cat", "cat", "bird"]

# 결과 {'dog': 3, 'cat': 2, 'bird': 1}

In [ ]:
# 1. for 사용
# 2. reduce 사용

#### 1.  for 사용

In [23]:
student = {"name": "susan"}

# student['age']
# student.get("age")  # None

student.get("age", 20)  # 만약에 age 키값이 없으면 20을 리턴

20

In [24]:
def count_element(elements):
    result = {}
    
    for element in elements:
        result[element] = result.get(element, 0) + 1
    
    return result

count_element(dataset)

{'dog': 3, 'cat': 2, 'bird': 1}

#### reduce 사용

In [25]:
def func(result, element):
    result[element] = result.get(element, 0) + 1
    return result

reduce(func, dataset, {})

{'dog': 3, 'cat': 2, 'bird': 1}

#### dict.update(), dict.get() + reduce() 사용한 또다른 방법

In [26]:
# dict.update : 있으면 업데이트하고, 없으면 추가하고 , None 리턴
# dict.get    : 있으면 가져오고, 없으면 초기값으로 가져오고

In [29]:
student = {'name' : 'susan'}

student.update({'name' : 'kate'})  # 있으면 업데이트 
student.update({'email' : 'aaa@bbb.ccc'}) # 없으면 추가

student

{'name': 'kate', 'email': 'aaa@bbb.ccc'}

In [ ]:
# list.append  .... 원본 변경; return None
# dict.update ... .원본 변경; return None

In [31]:
student.update({'name' : '박수지'}) # None 리턴

In [32]:
# 위에서 student.update() 가 None 을 리턴하기 때문게 
# 아래와 같은 것이 가능

# 파이썬 프로그래밍에서 자주 사용하는 기법
# dict 에 key-value 안정적으로 추가하고, 추가된
# dict 를 리턴 받기

student.update({'name' : '박수지'}) or student  # SCE 사용

{'name': '박수지', 'email': 'aaa@bbb.ccc'}

In [34]:
reduce(
    lambda result, element : result.update({element : result.get(element, 0) + 1}) or result
    , dataset
    , {}
)

{'dog': 3, 'cat': 2, 'bird': 1}

In [35]:
# 1. for loop
# 2. map, filter ... list comprehension
# 2.1. reduce

# reduce => map      init: []
# reduce => filter   init: []

### map(), filter() 도 reduce() 로 구현 가능!
좀더 파이썬 스러운 코딩 (pythonic!)

In [38]:
# 제곱하기
# [1, 2, 3] => [1, 4, 9]    map() 동작이지만 reduce() 로 가능

In [39]:
reduce(
    lambda r, e: r.append(e ** 2) or r,
    [1, 2, 3],
    [],
)

[1, 4, 9]

In [37]:
# 양수만 골라내기
# [1, -2, 3] => [1, 3]

In [40]:
reduce(
    lambda r, e : (r.append(e) or r) if e > 0 else r
    , [1, -2, 3]
    , []
)

[1, 3]