# 문자열 함수들

In [1]:
# 문자열 함수들
# 대표적으로 문자열(str)은 많은 함수(메소드)들을 갖고 있습니다.
# str 의 대표적인 함수들  ==>  split, join, replace, format

# https://docs.python.org/3/library/stdtypes.html#textseq

# str.  <-- 그리고 TAB 을 눌러보자
# "Hello".  <-- TAB 눌러보자

# 참고로
# https://docs.python.org/3/
# https://docs.python.org/2/
    
# 에서 찾고자 하는 함수의 기능에 대한 메뉴얼 확인 가능
# 좌상단 언어에서 korean 선택하면 한글번역 본도 제공됨 (일부만)

### upper(), lower()

In [2]:
# upper() : 문자열을 전부 대문자로 만드는 함수 
#  lower() : 문자열을 전부 소문자로 만드는 함수

In [3]:
str1 = "Apple"

In [4]:
str1, str1.upper(), str1.lower()

('Apple', 'APPLE', 'apple')

In [5]:
'Car' == 'car'

False

In [6]:
'Car'.upper() == 'car'.upper()

True

### strip()

In [7]:
# 문자열 좌우 공백 제거

In [8]:
a = "    Hello, world!   "
a

'    Hello, world!   '

In [9]:
a.strip()

'Hello, world!'

In [ ]:
a.strip

### replace()

In [10]:
# replace(a, b)  문자열 치환

In [11]:
a = "Hello Python"

In [12]:
a.replace("H", "J")

'Jello Python'

In [ ]:
# "  21,300원 "  --> 정수 21300 으로 바꾸기

In [13]:
a = "  21,300원 "

In [17]:
int(a.strip().replace(",", "")[:-1])

21300

### split() VS. join()

In [18]:
# split(separator)
# str 을 separator 문자열로 구분하여 쪼갠뒤 list로 만들어서 리턴

In [19]:
# 사용예: 엑셀(csv)을 파이썬으로 읽어 왔을때 다음과 같이 콤마 로 데이터들이 구분되어 있을 것이다
"사과,바나나,파인애플,포도,복숭아"

'사과,바나나,파인애플,포도,복숭아'

In [20]:
# 위의 데이터로부터 과일에 대한 list 를 만드려면?
data = "사과,바나나,파인애플,포도,복숭아"

In [21]:
data.split(",")

['사과', '바나나', '파인애플', '포도', '복숭아']

In [22]:
data.split(",", maxsplit=2)  # maxsplit 매개변수는 최대 몇개까지 쪼갤지 결정

['사과', '바나나', '파인애플,포도,복숭아']

In [23]:
"화성 갈 끄니까".split()

['화성', '갈', '끄니까']

In [24]:
# str.join() 함수
# split 과 반대로 list -> 하나의 str으로 묶어주는 함수

In [25]:
k = ["A", "B", "C", "D", "E"]

In [26]:
",".join(k)

'A,B,C,D,E'

In [27]:
"".join(k)

'ABCDE'

In [28]:
list("ABCDE")

['A', 'B', 'C', 'D', 'E']

In [29]:
# 만약 CSV (Comma Separated Values) 를 TSV (Tab Seperated Values) 로 바꾸려면?
# 치환하는 과정
data = "사과,바나나,파인애플,포도,복숭아"

In [30]:
data.replace(",", "\t")

'사과\t바나나\t파인애플\t포도\t복숭아'

In [32]:
"\t".join(data.split(","))

'사과\t바나나\t파인애플\t포도\t복숭아'

In [33]:
data= "데이터 분석을 위한 파이썬 프로그래밍"
# "파이썬" 을 => "Python" 으로 바꾸려면?

In [35]:
"Python".join(data.split("파이썬"))

'데이터 분석을 위한 Python 프로그래밍'

In [ ]:
# split, join, replace <-- 데이터 다룰때 많이 사용

### index(), find()

In [36]:
# 문자열 안에서 문자열 찾기

In [37]:
str3 = "hello python"

In [38]:
str3.index("lo")

3

In [39]:
str3.index('x')  # 발견하지 못하면 ValueError

ValueError: substring not found

In [40]:
str3.find("lo")

3

In [42]:
str3.find("x")  # find() 는 발견하지 못하면 -1 리턴

-1

### count()  함수

In [43]:
# count()
# 문자열 내에서 특정 문자열 패턴의 반복 횟수 
str4 = "aabababbabbaababb"

In [44]:
str4.count("a")

8

In [45]:
str4.count("ba")

5

### startswith(), endswith()

In [46]:
# startswith(), endswith()
# 문자열이 특정 문자열로 시작/종료 하는지 여부
str5 = "https://www.nytimes.com/2000/01/01/news/visions-identity-a-generation-s-anthem-smells-like-teen-pressure.html"

In [47]:
str5.startswith("http")

True

In [48]:
str5.startswith("ftp")

False

In [52]:
url = 'www.naver.com'

if not url.startswith('https://'):
    url = 'https://' + url
    
url

'https://www.naver.com'

#### 문자열 숫자 -> 변환

In [56]:
s = "189,000 원"   # -> 189200 (int)

int(''.join([
    ch
    for ch in s
    if '0' <= ch <= '9'
]))

189000

#### ord(), chr()

In [57]:
# ord() : 문자의 코드값
# chr() : 코드의 문자값

In [59]:
ord('a'), ord('A')

(97, 65)

In [77]:
chr(97), chr(65)

('a', 'A')

In [60]:
# 알파벳 개수
ord('z') - ord('a') + 1

26

In [61]:
# 한글 개수?
# ㅎ + ㅣ + ㅎ
ord('힣') - ord('가') + 1

11172

In [62]:
data = [
        "aAaA",   # 1
        "aaAA",   # 2
        "AAaa",   # 3
        "AaAa"    # 4 
        ]

In [63]:
sorted(data)

['AAaa', 'AaAa', 'aAaA', 'aaAA']

In [65]:
sorted(data, reverse=True)

['aaAA', 'aAaA', 'AaAa', 'AAaa']

### str 과 비교연산자

In [66]:
"a" < "b"

True

In [67]:
"abc" > "abd"

False

In [68]:
"cable" > "able"

True

In [70]:
"AaAa" < "aAaA"

True

In [71]:
"가마귀" > "까마귀"

False

In [ ]:
# 연습
# 알파벳 소문자로 이루어진 리스트 작성
# List Comprehension 사용  
# ['a', 'b', ... 'z']

# ord(), chr() 사용

In [74]:
[
    chr(i + ord('a'))
    for i in range(ord('z') - ord('a') + 1)
]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

## 알파벳의 개수 count 하기

In [79]:
# 등장하는 알파벳의 개수 -> dict 결과 만들기
# Dict Comprehension 사용 
# 대소문자 구분 하지 않기, 1개 이상 등장하는 알파벳만
# hint : 알파벳 리스트 , lower, upper, count 

word = "Alice in wonderland"

# {'a': 2,
#  'c': 1,
#  'd': 2,
#  'e': 2,
#  'i': 2,
#  'l': 2,
#  'n': 3,
#  'o': 1,
#  'r': 1,
#  'w': 1}

In [80]:
data = word.lower()

result = {}

for ch in data:  # 한글자씩 순환
    if 'a' <= ch <= 'z':  # 알파벳인 경우만 카운트
        if not result.get(ch):  # 첫등장이면
            result[ch] = 1
        else:
            result[ch] += 1   # 

print(result)

{'a': 2, 'l': 2, 'i': 2, 'c': 1, 'e': 2, 'n': 3, 'w': 1, 'o': 1, 'd': 2, 'r': 1}

In [83]:
# feat. 박정희
{
    i : word.lower().count(i)
    for i in word.lower()
    if 'a' <= i <= 'z'
}

{'a': 2,
 'l': 2,
 'i': 2,
 'c': 1,
 'e': 2,
 'n': 3,
 'w': 1,
 'o': 1,
 'd': 2,
 'r': 1}