# **Series 값 변경**
  - 추가 및 업데이트: 인덱스를 이용
  - 삭제: drop함수 이용
  - inplace=  파라미터 이해

In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series(np.arange(100, 105), ['a', 'b', 'c', 'd', 'e'])
s

a    100
b    101
c    102
d    103
e    104
dtype: int32

#### 값변경 : 해당 index 사용

In [3]:
s['a'] = 200  # 변경 
s

a    200
b    101
c    102
d    103
e    104
dtype: int32

In [4]:
s['k'] = 300 # 생성, 추가
s

a    200
b    101
c    102
d    103
e    104
k    300
dtype: int64

#### 삭제: drop()

In [5]:
s.drop('k')  # 인덱스 k 가 삭제된 Series 리턴

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [6]:
s

a    200
b    101
c    102
d    103
e    104
k    300
dtype: int64

In [7]:
# ★중요★
# drop() 함수는 drop 한'결과' 를 새로 만들어서 리턴한거고
# 원본 데이터 s 는 '변경'하지 않습니다

# numpy , pandas, 그밖의 수많은 데이터 관련 모듈들 에서의
# 대부분의 객체 함수들은 호출한 원본 객체를 '변경'하진 않고
# 원본의 '사본'을 만든뒤 '사본' 에 연산수행하여 그 '사본' 을 리턴하도록 동작 한다  
# (함수마다 조금씩 다르긴 하다)

# 그러나!
# inplace=True 파라미터를 주면 '사본' 을 만들지 않고 '원본'을 변화시키도록 동작한다

In [8]:
s.drop('k', inplace=True)  # 리턴값이 없다 (None) -> 원본변화!

In [9]:
s

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [10]:
s[['a', 'b']]

a    200
b    101
dtype: int64

In [12]:
s[['a', 'b']] = [300, 900]    # list, tuple, array 가능
s

a    300
b    900
c    102
d    103
e    104
dtype: int64

# **Slicing**
 - 리스트, ndarray와 동일하게 적용
 - index 가 문자열인 경우 slicing 시 마지막도 포함 (ndarray 와 차이점!)

In [13]:
s1 = pd.Series(np.arange(100, 105))
s1

0    100
1    101
2    102
3    103
4    104
dtype: int32

In [14]:
s1[1:3]

1    101
2    102
dtype: int32

In [15]:
# 인덱스가 '문자' 인 경우!
s2 = pd.Series(np.arange(100, 105), ['a','b','c','d','e'])
s2

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [16]:
s2[1]  # 으잉???

101

In [17]:
s2[1:3]

b    101
c    102
dtype: int32

In [ ]:
# 기본적으로 인덱스가 숫자 타입이 아니더라도, slice 가 '순서' 로서 작동한다.

In [18]:
# 인덱스 순서를 바꿔보자
s2 = pd.Series(np.arange(100, 105), ['a','c','b','d','e'])
s2

a    100
c    101
b    102
d    103
e    104
dtype: int32

In [20]:
s2[1:3]  # '순서' 대로 잘 동작

c    101
b    102
dtype: int32

In [ ]:
# slicing 에 '문자' 가능할까?

In [21]:
s2['c':'d']  # 문자열 인덱스를 슬라이싱에 사용하는 경우는 '마지막' 도 포함된다!

c    101
b    102
d    103
dtype: int32

In [22]:
s2['b':'c']

Series([], dtype: int32)

In [23]:
s2['b':'c':-1]

b    102
c    101
dtype: int32

# Multi level index

In [25]:
ss = pd.Series([1,2,3,4,5,6], ['a','a','b','b','c','c'])
ss

a    1
a    2
b    3
b    4
c    5
c    6
dtype: int64

In [26]:
ss.index

Index(['a', 'a', 'b', 'b', 'c', 'c'], dtype='object')

In [27]:
ss = pd.Series(np.arange(100, 106), index = [['a','a','b','b','c','c'], [1, 2, 1, 2, 1, 2]])
ss

a  1    100
   2    101
b  1    102
   2    103
c  1    104
   2    105
dtype: int32

In [28]:
ss.index

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [29]:
ss['a']

1    100
2    101
dtype: int32

In [31]:
ss['a', 1]

100

In [32]:
ss['a'][1]

100

In [33]:
ss['a':'b']   # 상위 level 슬라이스 인덱스

a  1    100
   2    101
b  1    102
   2    103
dtype: int32

In [35]:
ss[['a', 'c']]  # 특정 상위 level key 인덱스

a  1    100
   2    101
c  1    104
   2    105
dtype: int32

#### xs() 를 사용한 인덱스
axis = 0, level = 0

In [30]:
ss.xs('a')  # 상위 level 인덱스 'a'

1    100
2    101
dtype: int32

In [37]:
# ss.xs(2)  # 상위 level 인덱스 2  <-- 없다! 에러

In [38]:
ss.xs(2, level = 1)

a    101
b    103
c    105
dtype: int32