## 숫자(numerical) 데이터 와 범주형(categorical) 데이터 이해

In [1]:
import pandas as pd
import numpy as np

In [2]:
path = r'D:\DevRoot\DataSet\train.csv'

In [3]:
df = pd.read_csv(path)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## info() 함수로 각 변수(컬럼)의 데이터 타입 확인

In [5]:
df.info()

# 숫자형은 int64, float64 ...
# 문자형은 object ..

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
# 데이터 프로그래밍에선 데이터는 '숫자형' 인지 '분류형' 인지로 크게 구분짓는다.
# 이는 단순히 위와 같은 int64, float32, object 의 타입과는 다른 이야기다.
# 따라서 데이터 들여다 보는 단계에서 어떻게 바라보고(숫자형? 분류형?) 접근해야 할지는 중요한 문제다

## 숫자형(Numerical Type) 데이터
 - 연속성을 띄는 숫자로 이루어진 데이터
   - 예) Age, Fare 등
 - 대소비교, 산술연산 (평균, 합계, 중간값) 의미있슴

## 범주형(Categorical Type) 데이터
 - 연속적이지 않은 값(대부분의 경우 숫자를 제외한 나머지 값)을 갖는 데이터를 의미
   - 예) Name, Sex, Ticket, Cabin, Embarked 
 - 어떤 경우, 숫자형 타입이라 할지라도 개념적으로 범주형으로 처리해야할 경우가 있음
   - 예) Pclass, Survived   
 - 대소비교, 산술연산(평균, 합계, 중간값...) 의미없슴

In [7]:
# Age 를 생각해보자
#   대소비교 가능한가 : OK
#   평균값(연산) 의미 있나 : ex) 탑승객의 평균 나이 .  OK
#   나이 40 = 나이 20 x 2
#   연속성을 띄고 있나? : OK

# 따라서 Age 컬럼은 '숫자형'으로 다루면 된다

In [9]:
# Pclass 은 어떠한가 . 일단 이것도 int64 타입이긴 한데.  그러면 숫자형인가?

# 이들의 대소 관계 비교가 의미 있나 ?   1등급 < 3등급  ???
# 객실등급의 평균값 의미 있나?  승객들의 객실등급 평균은 2.308641975308642  입니다.
#   3 등급 객실 = 1등급 객실 x 3  의미 있나?  NO

# 이는 단순히 1등급, 2등급, 3등급 이란 '범주(category)' 를 나타내는 (구별하기 위한) 데이터 이다.

In [ ]:
#  Q]대한민국 우편번호도 '숫자' 로 이루어져 있죠
#  이는 '숫자형' ?  '범주형' ? 일까?

# 역삼동 06240
# 제주시 애월읍 63131
# 애월읍은 역삼동의 약 10.11 배입니다 ??? <--- 말이 되? 의미없다!

In [10]:
# 숫자형을 제외한 나머지 문자열 데이터는 당연히 '범주형' 이겠죠
# 이러한 범주형 데이터를 머신러닝등에서 적용할때는 '버리든지' 혹은 '숫자형' 으로 변환해야 합니다.