In [1]:
# 실질적으로 하는 '데이터 수집'  (data crawling.. scraping..)

# 일반적으로 crawling.. scraping..  은 대형 포털등에서 통채로 불러올때 쓰는 말

# 우리가 하려는건
# 가령.. 뉴스, 기사 내용, 쇼핑몰 제품.. 가격정보  판매수치 정보.. 등..
# 웹 페이지의 특정한 위치에 있는것만 가져오려 하는 것.

# 가령 네이버에 특정 검색어 입력한뒤,  '블로그' 영역 이라든지 
# 혹은 쇼핑몰 등에서 상품이미지 나 가격 이름 정보만 가져오기 라든지
#      경쟁사의 특정 물품 판매 지수 라든지 등에 대한 정보..

# 현재 우리가 하는건 사실상 parsing 이라 해야 한다.  

# 그러나, 용어의 혼선이 올거 같아서, 
# 우리가 배우는 파싱 하는 것들을 그냥 크롤링 이라 부르겠습니다.


# 앞으로 보게될 사이트 크롤링 적용예
# 1. 정적인 사이트 
# 2. 동적인 사이트
# 3. 브라우저 제어를 통한 크롤링

## BeautifulSoup 사용

In [2]:
# HTML파일 읽기
fp = open('simple.html', 'r', encoding='utf8')
html = fp.read()
fp.close()

In [3]:
html

'<!DOCTYPE html>\n\n<html lang="ko">\n    <head>\n        <meta charset=\'utf-8\'/>\n        <title>간단한 html</title>\n        \n<style>\n\th1 { color: red; }\n\tp {color: green; }\n\t/* ul li {color: blue; } */\n\n\t/* class  */\n\t.animal {color: blue; }\n\t.fruit {color: orange; }\n\n\t/* id  */\n\t#cat {color:brown;}\n    \n    table, th, td {\n        border : 1px solid black;\n        border-collapse : collapse;\n    }\n    \n    #books b {\n        background-color: cyan;\n    }\n\n</style>        \n        \n        \n        \n        \n    </head>    \n    \n    <body>\n        <h1>header</h1>\n        <p>This is a paragraph</p>\n        <div>이것은 <br> div 입니다</div>\n\n        <ul>\n            <li class="animal">dog</li>\n            <li class="animal" id="cat">cat</li>\n            <li class="animal">frog</li>\n            <li class="animal">this</li>\n        </ul>\n        <ul>\n            <li class="fruit">apple  </li>  <!-- 일부러 공백 띄었다 -->\n            <li class="fruit">ba<b>nana</b></li>\n\n        </ul>\n        <ol>\n            <li><a href="https://www.naver.com" title="최고포탈">네이버</a></li>\n            <li><a href="https://www.daum.net">daum</a></li>\n            <li class="animal">fish</li>  <!-- 일부러 여기도 animal 을 넣었다 -->\n                 <!-- 일부러 a 가 없는 li 를 넣어보았다 -->\n        </ol>\n\n        <hr>\n        <table id="books">\n            <thead>\n            <tr>\n                <th>제목</th>\n                <th>가격</th>\n            </tr>  \n            </thead>\n            <tbody>\n            <tr>\n                <td>1.이것이 파이썬이다</td>\n                <td><b>[도서]</b> 19,200원</td>\n            </tr>    \n            <tr>\n                <td>2.저것도 파이썬이다</td>\n                <td><b>[할인]</b> 12,800원</td>\n            </tr>    \n            <tr>\n                <td>3.그래도 파이썬인가?</td>\n                <td><b>[중고]</b> 6,500원</td>\n            </tr>  \n            </tbody>    \n        </table>\n       \n        \n        \n    </body>    \n    \n</html>    '

In [4]:
# BeautifulSoup 파싱 라이브러리 사용
# html, xml 등을 parsing 할수 있다
from bs4 import BeautifulSoup

In [5]:
data = BeautifulSoup(html, "html.parser")

# 주어진 데이터 html 을 html 문서로 파싱하고
# Document Object Model 객체 (DOM) 을 표현하는 BeautifulSoup 객체 생성

#BeautifulSoup 생성자의 두번째 매개변수로는 html.parser 나 lxml 을 많이 사용한다. 여기서는 동일

data

<!DOCTYPE html>

<html lang="ko">
<head>
<meta charset="utf-8"/>
<title>간단한 html</title>
<style>
	h1 { color: red; }
	p {color: green; }
	/* ul li {color: blue; } */

	/* class  */
	.animal {color: blue; }
	.fruit {color: orange; }

	/* id  */
	#cat {color:brown;}

    table, th, td {
        border : 1px solid black;
        border-collapse : collapse;
    }

    #books b {
        background-color: cyan;
    }

</style>
</head>
<body>
<h1>header</h1>
<p>This is a paragraph</p>
<div>이것은 <br/> div 입니다</div>
<ul>
<li class="animal">dog</li>
<li class="animal" id="cat">cat</li>
<li class="animal">frog</li>
<li class="animal">this</li>
</ul>
<ul>
<li class="fruit">apple  </li> <!-- 일부러 공백 띄었다 -->
<li class="fruit">ba<b>nana</b></li>
</ul>
<ol>
<li><a href="https://www.naver.com" title="최고포탈">네이버</a></li>
<li><a href="https://www.daum.net">daum</a></li>
<li class="animal">fish</li> <!-- 일부러 여기도 animal 을 넣었다 -->
<!-- 일부러 a 가 없는 li 를 넣어보았다 -->
</ol>
<hr/>
<table id="books">
<thead>
<tr>
<th>제목</th>
<th>가격</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.이것이 파이썬이다</td>
<td><b>[도서]</b> 19,200원</td>
</tr>
<tr>
<td>2.저것도 파이썬이다</td>
<td><b>[할인]</b> 12,800원</td>
</tr>
<tr>
<td>3.그래도 파이썬인가?</td>
<td><b>[중고]</b> 6,500원</td>
</tr>
</tbody>
</table>
</body>
</html>

In [6]:
type(data)

bs4.BeautifulSoup

## select(), select_one()

In [7]:
#data.select_one(CSS selector)
# 해당 CSS selector 로 select 된 첫번째 element 하나를 리턴

In [8]:
data.select_one("h1")  # 결과는 하나의 element

In [9]:
type(data.select_one("h1"))

bs4.element.Tag

In [10]:
data.select_one("li")
# 해당 selector 의 element 가 여러개 있었다 하더라도 첫번째 element만 리턴

In [11]:
# select(CSS selector)
# 해당 CSS selector 로 select 된 모든 'element(들)의 list' 리턴
# 심지어 한개도 select 되지 않아도 비어있는 list 리턴

In [12]:
data.select('.fruit')
# 결과가 element(들) 의 list 다!

In [13]:
data.select('.xxx')

[]

In [15]:
data.select_one('.xxx') # select_one() 은 못찾으면 None 리턴

In [16]:
# select() 결과 element 의 개수를 알고 싶다면?
len(data.select('.fruit'))

2

In [17]:
data.select_one('.fruit') # 첫번째 element

In [19]:
data.select('.fruit')[0]  # 첫번째 element

## .text

In [20]:
# .text : 특정 element 의 content 
#  태그는 제거된 형태

In [22]:
data.select('.fruit')[0].text

'apple  '

In [23]:
# 텍스트 데이터 추출하고 좌우 공백 제거 --> strip()
data.select('.fruit')[0].text.strip()

'apple'

In [24]:
data.select('.fruit')[1]

In [25]:
data.select('.fruit')[1].text  # 태그는 제거된 형태의 text

'banana'

In [26]:
# 도전!!
#["apple", "banana"] 이렇게 결과가 나오도록 결과를 만들자
# for 사용

result = []
for element in data.select('.fruit'):
    result.append(element.text.strip())
    
result

['apple', 'banana']

In [28]:
# 도전!!
#["apple", "banana"] 이렇게 결과가 나오도록 list comprehension 을 사용하여 작성해보세요

[element.text.strip() for element in data.select('.fruit')]

['apple', 'banana']

In [29]:
# 연습: 도전!
# animals 에 대한 리스트도 뽑아보세요
# 결과 --> ['dog', 'cat', 'frog', 'this']

In [30]:
[
    element.text.strip()
    for element
    in data.select("ul li.animal")
]

['dog', 'cat', 'frog', 'this']

### .attrs
attributes 추출하기

In [ ]:
# 아래 링크 '주소'와  '링크이름' 을 dict 의 list 형태로 가져오기 

# <ol>
#   <li><a href="http://www.naver.com">네이버</a></li>
#   <li><a href="hrrp://www.daum.net">daum</a></li>
# </ol>


# 결과예)

# [
#     {
#         url: "http://www.naver.com",
#         link: "네이버"
#     },
#     {
#         url: "http://www.daum.net",
#         link: "daum"
#     },
# ]

In [32]:
items = data.select("ol li")
items

[<li><a href="https://www.naver.com" title="최고포탈">네이버</a></li>,
 <li><a href="https://www.daum.net">daum</a></li>,
 <li class="animal">fish</li>]

In [34]:
# element 객체에서 다시 select, select_one()  사용가능
items[0].select_one("a")

In [35]:
items[0].select_one("a").attrs   # attrs 는 dict 결과

{'href': 'https://www.naver.com', 'title': '최고포탈'}

In [36]:
items[0].select_one("a").attrs['href']

'https://www.naver.com'

In [37]:
items[0].select_one("a").attrs.get('href')

'https://www.naver.com'

In [38]:
items[0].select_one("a").attrs['aaa']

KeyError: 'aaa'

In [39]:
items[0].select_one("a").attrs.get('aaa')

In [40]:
# 최종결과
[
    {
        "url" : item.select_one("a").attrs.get('href'),
        "link" : item.select_one("a").text.strip()
    }
    
    for item
    in data.select("ol li")
    if item.select_one("a")    
]

[{'url': 'https://www.naver.com', 'link': '네이버'},
 {'url': 'https://www.daum.net', 'link': 'daum'}]

### element 를 제거하려면? --> decompose()

In [43]:
row_elements = data.select_one("#books").select("tr")
row_elements

[<tr>
 <th>제목</th>
 <th>가격</th>
 </tr>,
 <tr>
 <td>1.이것이 파이썬이다</td>
 <td><b>[도서]</b> 19,200원</td>
 </tr>,
 <tr>
 <td>2.저것도 파이썬이다</td>
 <td><b>[할인]</b> 12,800원</td>
 </tr>,
 <tr>
 <td>3.그래도 파이썬인가?</td>
 <td><b>[중고]</b> 6,500원</td>
 </tr>]

In [44]:
len(row_elements)   # select() 결과의 len() 꼭 확인해보자

4

In [45]:
# comprehension 을 사용하여 만들어보자
"""
<결과 예시>
[{'제목': '이것이 파이썬이다', '가격': '[도서] 19,200원'},
 {'제목': '저것도 파이썬이다', '가격': '[할인] 12,800원'},
 {'제목': '그래도 파이썬인가?', '가격': '[중고] 6,500원'}]
"""
None

In [50]:
row_elements[1].select_one('td')

In [53]:
result = [
    {
#         '제목' : element.select('td')[0].text.strip(), 
#         '가격' : element.select('td')[1].text.strip(),
        
        '제목' : element.select_one("td:first-child").text.strip(), 
        '가격' : element.select_one('td:nth-child(2)').text.strip(),
    }
    
    for element in row_elements
    if element.select_one('td')
]

result

[{'제목': '1.이것이 파이썬이다', '가격': '[도서] 19,200원'},
 {'제목': '2.저것도 파이썬이다', '가격': '[할인] 12,800원'},
 {'제목': '3.그래도 파이썬인가?', '가격': '[중고] 6,500원'}]

In [55]:
result = [
    {
#         '제목' : element.select('td')[0].text.strip(), 
#         '가격' : element.select('td')[1].text.strip(),
        
        '제목' : element.select_one("td:first-child").text.strip(), 
        '가격' : element.select_one('td:nth-child(2)').text.strip(),
    }
    

    for element in data.select("#books > tbody > tr")
]

result

[{'제목': '1.이것이 파이썬이다', '가격': '[도서] 19,200원'},
 {'제목': '2.저것도 파이썬이다', '가격': '[할인] 12,800원'},
 {'제목': '3.그래도 파이썬인가?', '가격': '[중고] 6,500원'}]

In [ ]:
# 가격 앞의 [도서], [할인].. 제거하려면?
# <td><b>[중고]</b> 6,500원</td>        

# <td> element  안의 <b> element 를 제거하고 싶다.

# element 의 decompose () 사용

In [59]:
data = BeautifulSoup(html, "html.parser")
row_elements = data.select("#books > tbody > tr")

result = []

for row in row_elements:
    
    price_element = row.select_one('td:nth-child(2)')
    print('decompose() 전', price_element)
    price_element.select_one('b').decompose()  
    print('decompose() 후', price_element)
    
    item = {
        "제목" : row.select_one("td:first-child").text.strip(),
        "가격" : price_element.text.strip()
    }
    result.append(item)

result

decompose() 전 <td><b>[도서]</b> 19,200원</td>
decompose() 후 <td> 19,200원</td>
decompose() 전 <td><b>[할인]</b> 12,800원</td>
decompose() 후 <td> 12,800원</td>
decompose() 전 <td><b>[중고]</b> 6,500원</td>
decompose() 후 <td> 6,500원</td>

[{'제목': '1.이것이 파이썬이다', '가격': '19,200원'},
 {'제목': '2.저것도 파이썬이다', '가격': '12,800원'},
 {'제목': '3.그래도 파이썬인가?', '가격': '6,500원'}]

#### 가격을 숫자타입으로 파싱하려면?
'19,200원' --> 19000 float 타입으로

In [63]:
myStr = '1,232,200원'
myStr = myStr.replace(',', '')  # 중간 콤마 제거
myStr = myStr[:-1]  # 끝의 한글자 제거

num = float(myStr)
num

1232200.0

In [64]:
data = BeautifulSoup(html, "html.parser")
row_elements = data.select("#books > tbody > tr")

result = []

for row in row_elements:
    
    price_element = row.select_one('td:nth-child(2)')
    print('decompose() 전', price_element)
    price_element.select_one('b').decompose()  
    print('decompose() 후', price_element)
    
    item = {
        "제목" : row.select_one("td:first-child").text.strip(),
        "가격" : float(price_element.text.strip().replace(',', '')[:-1])
    }
    result.append(item)

result

decompose() 전 <td><b>[도서]</b> 19,200원</td>
decompose() 후 <td> 19,200원</td>
decompose() 전 <td><b>[할인]</b> 12,800원</td>
decompose() 후 <td> 12,800원</td>
decompose() 전 <td><b>[중고]</b> 6,500원</td>
decompose() 후 <td> 6,500원</td>

[{'제목': '1.이것이 파이썬이다', '가격': 19200.0},
 {'제목': '2.저것도 파이썬이다', '가격': 12800.0},
 {'제목': '3.그래도 파이썬인가?', '가격': 6500.0}]

#### 크롤링 결과를 DataFrame 으로 만들기

In [65]:
import pandas as pd

In [66]:
df = pd.DataFrame(columns = ['제목', '가격'])
df

Empty DataFrame
Columns: [제목, 가격]
Index: []

In [67]:
for data in result:
    df.loc[len(df)] = data
    
df

             제목       가격
0   1.이것이 파이썬이다  19200.0
1   2.저것도 파이썬이다  12800.0
2  3.그래도 파이썬인가?   6500.0